<a>Hello world </a>
<div> {{ name }} </div>
    <ul>
        {%- if value === 3 -%}
            <div> {{ value }} <div>
        {%- endif -%}

        <div>
            {%- for item in product  -%}
                <li>{{ item.name }} </li>  
            {%- endfor -%}
        </div>
    </ul>
<div>